@import "variables";

.authorization {
    width: 400px;
    margin: 10px auto;
}

.authorization-navigate {
    display: flex;
    margin-bottom: 10px;
}

.authorization-navigate a{
    font-size: 18px;
    font-weight: 300;
    flex: 0 0 50%;
    text-align: center;
    text-decoration: none;
    color: $grey-medium;
    padding-bottom: 10px;
    border-bottom: 2px solid $grey;
}

.authorization-navigate .active {
    color: inherit;
    font-weight: 400;
    border-bottom: 2px solid $blue;
}