@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "variables";

html, body {
    padding: 0px;
    margin: 0px;
    background: $grey;
}

.full-width {
    width: 100%;
}

.text-center {
    text-align: center;
}