@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';
@import "variables";

html {
    overflow-x: hidden;
}

html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    background: $grey;
}

app-not-found {
    position: absolute;
    width: 100%;
    height: calc(100% - 100px);
}

.cursor {
    cursor: pointer;
    outline: none;
}

.spacer {
    flex: 1 1 auto;
}

.full-width {
    width: 100%;
}

.text-center {
    text-align: center;
}